absl-py==2.1.0
aiobotocore
aiofiles
aiohttp
aioitertools
aiosignal
aiosqlite
alabaster
#anaconda-catalogs
anaconda-client
anaconda-cloud-auth
# anaconda-navigator
# anaconda-project
anthropic==0.34.2
anyio
appdirs==1.4.4
applaunchservices
appnope
appscript
argon2-cffi
argon2-cffi-bindings
arrow
asgiref==3.8.1
assemblyai==0.33.0
astroid
astropy
asttokens
astunparse==1.6.3
async-timeout
atomicwrites==1.4.0
attrs
Automat
autopep8
Babel
backcall
backports.functools-lru-cache
backports.tempfile
backports.weakref==1.0.post1
bcrypt
beautifulsoup4
binaryornot
black
bleach
bokeh
boltons
botocore
Bottleneck
Brotli==1.1.0
brotlipy==0.7.0
certifi
cffi
chardet
charset-normalizer
click
cloudpickle
clyent==1.2.1
colorama
colorcet
comm
conda
conda-build
conda-content-trust
# conda-libmamba-solver
conda-pack
conda-package-handling
conda-repo-cli==1.0.81
conda-token
conda-verify==3.4.2
conda_index
conda_package_streaming
constantly==15.1.0
contourpy
cookiecutter
cryptography
cssselect==1.1.0
curl_cffi==0.7.1
cycler
cytoolz
dask
datasets
datashader
datashape==0.5.4
debugpy
decorator
defusedxml
diff-match-patch
dill
distributed
distro==1.9.0
dj-database-url==2.2.0
Django==5.1.1
docstring-to-markdown
docutils
entrypoints
et-xmlfile==1.1.0
executing
fastcore==1.7.4
fastjsonschema
fastlite==0.0.10
filelock
flake8
Flask
flatbuffers==24.3.25
fonttools==4.25.0
frozenlist
fsspec
future
g4f==0.3.2.6
gast==0.5.4
gensim
glob2
gmpy2
google-pasta==0.2.0
greenlet
grpcio==1.62.2
h11==0.14.0
h5py==3.11.0
HeapDict
holoviews
httpcore==1.0.5
httptools==0.6.1
httpx==0.27.2
huggingface-hub
hvplot
hyperlink
idna
imagecodecs
imageio
imagesize
imbalanced-learn
importlib-metadata
incremental
inflection==0.5.1
iniconfig
intake
intervaltree
ipykernel
ipympl==0.9.3
ipython
ipython-genutils
ipywidgets
isort
itemadapter
itemloaders
itsdangerous
jaraco.classes
jedi
jellyfish
Jinja2
jinja2-time
jiter==0.5.0
jmespath
joblib
json5
jsonpatch
jsonpointer==2.1
jsonschema
jupyter
jupyter-console
jupyter-events
jupyter-server
jupyter-ydoc
jupyter_client
jupyter_core
jupyter_server_fileid
jupyter_server_ydoc
jupyterlab
jupyterlab-pygments
jupyterlab-widgets
jupyterlab_server
kaleido
keras==3.3.2
keyring
kiwisolver
lazy-object-proxy
lazy_loader
libarchive-c
libclang==18.1.1
libmambapy
linkify-it-py
llvmlite
lmdb
locket
lxml
lz4
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mccabe
mdit-py-plugins
mdurl
mistune
ml-dtypes==0.3.2
more-itertools
mpmath
msgpack
multidict
multipledispatch
multiprocess
munkres==1.1.4
mutagen==1.47.0
mypy-extensions
namex==0.0.8
navigator-updater
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nltk
notebook
notebook_shim
numba
numexpr
numpy
numpydoc
oauthlib==3.2.2
openai==1.44.1
openpyxl==3.0.10
opt-einsum==3.3.0
optree==0.11.0
packaging
pandas
pandocfilters
panel
param
parsel
parso
partd
pathlib
pathspec
patsy==0.5.3
pep8==1.7.1
pexpect
pickleshare
Pillow
pkce
pkginfo
platformdirs
plotly
pluggy
ply==3.11
poyo
prometheus-client
prompt-toolkit
Protego
protobuf==4.25.3
psutil
psycopg2-binary==2.9.9
ptyprocess
pure-eval
py-cpuinfo
pyarrow==11.0.0
pyasn1
pyasn1-modules==0.2.8
pycodestyle
pycosat
pycparser
pycryptodome==3.20.0
pycryptodomex==3.20.0
pyct
pycurl
pydantic
PyDispatcher==2.0.5
pydocstyle
pyerfa
pyflakes
Pygments
PyJWT
pylint
pylint-venv
pyls-spyder==0.4.0
pyobjc-core
pyobjc-framework-Cocoa
pyobjc-framework-CoreServices
pyobjc-framework-FSEvents
pyodbc
pyOpenSSL
pyparsing
PyQt5-sip==12.11.0
pyrsistent
PySocks
pytest
python-dateutil
python-dotenv
python-fasthtml==0.5.1
python-json-logger
python-lsp-black
python-lsp-jsonrpc==1.0.0
python-lsp-server
python-multipart==0.0.9
python-slugify
python-snappy
pytoolconfig
pytube==15.0.0
pytz
pyviz-comms
PyWavelets
PyYAML
pyzmq
QDarkStyle
qstylizer
QtAwesome
qtconsole
QtPy
queuelib==1.5.0
regex
requests==2.32.3
requests-file
requests-toolbelt
responses
rfc3339-validator
rfc3986-validator
rich==13.7.1
rope
Rtree
ruamel-yaml-conda
ruamel.yaml
s3fs
safetensors
scikit-image
scikit-learn
scipy
Scrapy
seaborn
Send2Trash
service-identity
sip
six
smart-open
sniffio
snowballstemmer
sortedcontainers
soupsieve
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
spyder
spyder-kernels
SQLAlchemy
sqlite-minutils==3.37.0.post3
sqlparse==0.5.1
stack-data
starlette==0.38.4
statsmodels
sympy
tables
tabulate
tblib
tenacity
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.1
tensorflow-io-gcs-filesystem==0.36.0
termcolor==2.4.0
terminado
text-unidecode
textdistance
threadpoolctl
three-merge
tifffile
tinycss2
tldextract
tokenizers
toml
tomlkit
toolz
tornado
tqdm
traitlets
transformers
Twisted
typing_extensions==4.12.2
tzdata
uc-micro-py
ujson
Unidecode
urllib3==2.2.2
uvicorn==0.30.6
uvloop==0.20.0
w3lib
watchdog
watchfiles==0.24.0
wcwidth
webencodings==0.5.1
websocket-client
websockets==13.0.1
Werkzeug
whatthepatch
widgetsnbextension
wrapt
wurlitzer
xarray
xlwings
xxhash
xyzservices
y-py
yapf
yarl
ypy-websocket
yt-dlp==2024.8.6
zict
zipp
zope.interface
zstandard
